.cursor{
    cursor: pointer;
}

.btnModalUsuario{
    border-color: #224a59!important;
    background-color: white !important;
    min-width: 100% !important; 
    border-radius: 20px !important;
    justify-content: center !important;
    text-transform: capitalize !important;
    color: #aab7bb!important;
    font-weight: bold !important;
    height: 19px !important;
}