.caixatexto-color-user {
    background-color: white !important;
}

.topo{
    margin-top: 20px;
}
.containerEditUser{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 600px; 
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.050);
    margin-bottom: 15px!important;
    margin-top: 50px;
}
.txtAtualizarUser{
    color: #ffffff;
    background-color: #224a59;
    border-radius: 4px !important;     
}
.botao-atualizar {
    background-color: #224a59 !important;
    border-radius: 5px !important;
    margin: 15px !important;
    color:white !important;
}
.botao-cancel-edit {
    background-color:#224a59!important;
    color:white!important;
}